<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ChromeDriverPath" value="" />
    <add key="InternetExplorerDriverPath" value="" />
    <add key="TestsPath" value="../../../Data/Tests" />
    <add key="ActiveManifest" value="Dev" />
  </appSettings>
</configuration>