/Selenite/obj
/Selenite/bin

/Selenite.Client/obj
/Selenite.Client/bin
/Selenite.Client/publish

/Selenite.Client.V2/obj
/Selenite.Client.V2/bin
/Selenite.Client.V2/publish

/Selenite.Client.Manifests/obj
/Selenite.Client.Manifests/bin

/Selenite.Client.TestResults/obj
/Selenite.Client.TestResults/bin

/Common/obj
/Common/bin

/Selenite.Tests/obj
/Selenite.Tests/bin
/*.suo

/*.user

/_Resharper.Selenite

/Selenite.Tests/*.user
/Selenite.Client/*.user

/Selenite.VisualStudio/bin
/Selenite.VisualStudio/obj
/Selenite.VisualStudio/Selenite.VisualStudio.csproj.user
