/Selenite/obj
/Selenite/bin

/Selenite.Client/obj
/Selenite.Client/bin
/Selenite.Client/publish

/Selenite.Tests/obj
/Selenite.Tests/bin
/*.suo

/*.user

/_Resharper.Selenite

/Selenite.Tests/*.user
/Selenite.Client/*.user

/Selenite.VisualStudio/bin
/Selenite.VisualStudio/obj
/Selenite.VisualStudio/Selenite.VisualStudio.csproj.user
