<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Selenite.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ChromeDriverPath" value="" />
    <add key="IEDriverPath" value="" />
    <!--<add key="TestScriptsPath" value="d:\capps\inspector\trunk\webautomation\testscripts" />-->
     <add key="TestScriptsPath" value="../../../Selenite.Tests/TestScripts" /> 
  </appSettings>
  <userSettings>
    <Selenite.Client.Properties.Settings>
      <setting name="EnabledBrowsers" serializeAs="String">
        <value />
      </setting>
    </Selenite.Client.Properties.Settings>
  </userSettings>
</configuration>